.button {
    margin-top: 10px;
    width: 70px;
    height: 30px;
    border: none;
    color: white;
    background-color: #303457;
    cursor: pointer;
    transition: background-color 150ms;
}

.button:hover {
    transition: background-color ease-in-out 150ms;
    background-color: #1d1f34;
}

.button:not(button:last-of-type) {
    margin-right: 5px;
}